  <button id="button1">プロフィール画像を変更</button>
  <div id="overlay">
    <div id="overlay_window">
      <p>オーバーレイTEST</p>
      <button id="button2">閉じる</button>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="user_image.js"></script>
  
