<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm bg-secondary" style="border: none;" data-toggle="modal" data-target="#exampleModalCenter">
  プロフィール画像を変更
</button>

<!-- Modal -->
<div class="modal fade text-center" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content mx-auto">
      <div class="modal-header">
        <span>&emsp;&emsp;&emsp;&emsp;</span>
        <h5 class="modal-title mx-auto" id="exampleModalCenterTitle">プロフィール画像を選択</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with(model: @user_image, url: my_page_path(@end_user.id), method: :post, local:true) do |end_user| %>
      <div class="modal-body">
        <div class="p-2">
          <%= image_tag @end_user.get_user_image(100,100) %>
        </div>
        <div class="p-2">
          <%= end_user.file_field :user_image, placeholder: "プロフィール画像", accept: "image/*" %>
        </div>
      </div>
      <div class="modal-footer">
        <div class="mx-auto">
          <button type="button"  style="border: none; background: none;"><%= end_user.submit "変更", class:"btn btn-danger" %></button>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
