<div class='container'>
  <div class='row text-center'>
    <div class="col pt-5">
      <h1 class="font-weight-bold">退会処理が完了しました。</h1>
    </div>
  </div>
  <div class="pt-5 text-center">
    <%= link_to "Topページに戻る", root_path %>
  </div>
</div>
