<!--背景画像を設定-->
<div class="background-image">
<div class="container btn-position">
  <div class="row w-100">
    <div class="btn-wrapper col-4 mx-auto">
      <div class="row d-flex">
        <%= link_to "新規登録はこちら！（無料）", new_end_user_registration_path, class:"btn btn-sign_up btn-rounded btn-lg btn-block p-3 mb-3" %>
      </div>
      <div class="row d-flex">
        <%= link_to "ログイン",  new_end_user_session_path, class:"btn btn-log_in btn-rounded btn-lg btn-block p-3 mb-3" %>
      </div>
    </div>
  </div>
</div>
</div>
