<div class="container">
  <!--背景画像を設定-->
  <div class="background-image">
  <div class="row">
    <div class="col">
      <div class="btn btn-warning">新規登録はこちら！（無料）</div>
      <div class="btn btn-success">ログイン</div>
    </div>
  </div>
  </div>
</div>