<!--背景画像を設定-->
<div class="background-image">
<div class="container h-100">
  <div class="row">
    <div class="btn-wrapper col-4 mx-auto">
      <div class="row d-flex">
        <%= link_to "新規登録はこちら！（無料）", new_end_user_registration_path, class:"btn btn-warning btn-lg btn-block rounded-circle p-3 mb-3" %>
      </div>
      <div class="row d-flex">
        <%= link_to "ログイン",  new_end_user_session_path, class:"btn btn-success btn-lg btn-block rounded-circle p-3 mb-3" %>
      </div>
    </div>
  </div>
</div>
</div>
