<div class="container w-100 btn-position">
  <div class="row">
    <div class="col pb-4">
      <h2 class="font-weight-bold">管理者用メニュー</h2>
    </div>
  </div>
  <div class="row">
    <div class="col pt-2 d-flex">
      <%= link_to admin_end_users_path, class:"btn btn-info btn-size border border-light mr-4" do %>
        <div>ユーザー管理</div>
        <div><i class="fas fa-user"></i></div>
      <% end %>
      <%= link_to admin_training_post_comments_path, class:"btn btn-info btn-size border border-light" do %>
        <div>投稿管理</div>
        <div><i class="fas fa-pen"></i></div>
      <% end %>
    </div>
  </div>
</div>
