<% if training_post.fight_pushed_by?(current_end_user) %>
  <%= link_to training_post_fights_path(training_post), method: :delete, remote: true do %>
    <div class="text-danger">
      <span class="icon-size"><i class="fas fa-thumbs-up"></i></span>
      <span><%= training_post.fights.count %></span>
    </div>
  <% end %>
<% else %>
  <%= link_to training_post_fights_path(training_post), method: :post, remote: true do %>
    <div class="text-dark">
      <span class="icon-size"><i class="fas fa-thumbs-up"></i></span>
      <span><%= training_post.fights.count %></span>
    </div>
  <% end %>
<% end %>
