@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'public/homes';
@import 'public/end_users';
@import 'admin/homes';

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.bg-midnightblue {
  background-color: #191970;
}

.text-size {
  font-size: 12px;
}

.icon-size {
  font-size: 30px;
}

.btn-position {
  display: grid;
  place-items: center;
  height: 50vh;
  vertical-align:　middle;
}
