<div class="border: solid 2px silver;">
  <div class="p-4" style="border: solid 2px silver;">
    <% if end_user_signed_in? %>
      <li>
        <%= link_to "退会手続き", unsubscribe_path(current_end_user) %>
      </li>
    <% end %>
    <center>-EnjoySurfing-</center>
  </div>
</div>
